/**
 * Custom CSS
 */
.layout-boxed {
  background: url('../img/squairy_light.png') repeat fixed;
}

.logo {
  background: url('../img/grey.png') repeat fixed;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
}

.btn.btn-set {
  color: #666;
  background-color: #fff;
  border-color: #fff;
  border-bottom-color: #fff !important;
}

/**
 * Override theme default css
 */
body > .wrapper > .main-header {
  border-bottom: 3px solid #222D32;
}

body > .wrapper > .main-header > .logo > .logo-lg > .cis-text {
  line-height: 11px;
  display: inline-block;
  text-align: left;
  font-size: 11px;
}

body > .wrapper > .main-header > .logo > .logo-lg > .cis-logo {
  line-height: 0px;
  font-size: 25px;
  display: inline-block;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    width: 200px !important;
  }


.layout-boxed .wrapper {
	max-width: 1120px;
}

.content {
  padding-top: 0px !important;
}
.content-wrapper {
  background-color: #ffffff;
}
.content-wrapper > .content-menu {
  position: relative;
  padding: 5px 18px 5px 15px;
  min-height: 37px;
  border-bottom: 1px solid #dbdbdb;
}
.content-wrapper > .content-menu > .module-menu-container > .btn-group > button > .fa,
.content-wrapper > .content-menu > .module-menu-container > .btn-group > button > .glyphicon{
  margin-right: 5px;
}

.content-wrapper > .content-menu > .module-menu-container > a > .fa,
.content-wrapper > .content-menu > .module-menu-container > a > .glyphicon{
  margin-right: 5px;
}

.content-wrapper > .content-menu > .module-menu-container {
  margin: 0;
  font-size: 24px;
  position: absolute;
  right: 0px;
  top: 3px;
}

.content-wrapper > .content-menu > .module-menu-container > .btn-group >.btn {
  background-color: #ffffff;
  box-shadow: none;
}

.content-wrapper > .content-menu > .module-menu-container {
  font-size: 12px !important;
}
.content-wrapper > .content-menu > .module-menu-container > .btn,
.content-wrapper > .content-menu > .module-menu-container > .btn-group >.btn {
  /*border-left: 1px solid rgb(230, 230, 230);*/
  box-shadow: none;
  font-size: 12px !important;
  color: #444;
}

.content-wrapper > .content-menu > .module-menu-container > .btn:hover,
.content-wrapper > .content-menu > .module-menu-container > .btn-group >.btn:hover {
  /*text-decoration: underline;*/
  background-color: #eee;
}


.content-wrapper > .content-menu > .module-menu-container > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.content-wrapper > .content-menu > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 4px 5px 4px 0px;
  position: absolute;
  top: 7px;
  /*right: 10px;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*font-weight: lighter;*/
}
.content-wrapper > .content-menu > .breadcrumb > li > a {
  /*color: #444;*/
  text-decoration: none;
}
.content-wrapper > .content-menu > .breadcrumb > li > a > .fa,
.content-wrapper > .content-menu > .breadcrumb > li > a > .glyphicon,
.content-wrapper > .content-menu > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-wrapper > .content-menu > .breadcrumb > li + li:before {
 /* content: '>\00a0';*/
}

.content-wrapper > .content-menu > .module-menu-container > .open > .dropdown-menu {
  right: 0;
  left: auto;
}

.content > .page-header{
  margin: 0 0 12px !important;
  border-bottom: 1px dotted #e2e2e2;
  padding-top: 5px;
  padding-bottom: 10px;

}

.content > .page-header h1{
  padding: 0;
  margin: 0px !important;
  /*font-weight: lighter;*/
  font-size: 21px;
  color: #2679b5;
}

.box {
  box-shadow: none;
}

.box > .box-body {
  padding: 0px;
}

.box > .box-header {
  padding: 10px 0px;
}

.box.box-condensed {
  margin-bottom: 5px;
}
/**
 * custom style
 */
.page-line{
  margin: 15px 0;
  padding: 0;
  height: 5px;
  background: #ededed;
}

.theme-panel {
  padding: 10px 5px 0px 10px;
  min-height: 39px;
  padding-left: 30px;
}
.theme-panel:before,
.theme-panel:after {
  display: table;
  content: " ";
}
.theme-panel:after {
  clear: both;
}
.theme-panel > .image > img {
  width: 45px;
  height: 45px;
}
.theme-panel > .info {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 1;
}
.theme-panel > .info > p {
  margin-bottom: 9px;
}
.theme-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.theme-panel > .info > a > .fa,
.theme-panel > .info > a > .ion,
.theme-panel > .info > a > .glyphicon {
  margin-right: 3px;
}
.theme-panel > .theme-option {
  /*position: absolute;*/
  /*top: 10px;*/
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  
}
.theme-panel > .theme-option:hover {
  border: 1px solid black;
}
.theme-panel > .blue,
.theme-panel > .red,
.theme-panel > .black,
.theme-panel > .green,
.theme-panel > .purple{
  margin-left: 10px;
}

.theme-panel > .blue{
  background: #3c8dbc;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .theme-panel {
	padding-left: 5px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .theme-panel > .red,
.sidebar-mini.sidebar-collapse .sidebar-menu > .theme-panel > .black,
.sidebar-mini.sidebar-collapse .sidebar-menu > .theme-panel > .green,
.sidebar-mini.sidebar-collapse .sidebar-menu > .theme-panel > .purple {
	display: none;
}

.theme-panel> .red {
  background: #dd4b39;
  /*left: 70px;*/
}


.theme-panel > .black {
  background: black;
  /*left: 105px;*/
}


.theme-panel > .green {
  background: #019875;
  /*left: 140px;*/
}


.theme-panel > .purple {
  background: #605ca8;
  /*left: 175px;*/
}

/*
    Component: Buttons
-------------------------
*/
/*Switch button*/
.switch-container{
  background-color: #DD4B39;
  height: 20px;
  display: inline-block;
  width: 40px;
  border-radius: 10px;
  position: relative;
  vertical-align: middle;
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
  margin-left: 0px;
  margin-right: 5px; 
  
  transition: background-color 300ms ease-in-out;
}

.switch-toggle {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #DDD;
  position: absolute;
  top: -2px;
  left: -2px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  
  transition: left 300ms ease-in-out;
}

.switch-toggle:after {
  content: '\f00d';
  font-family: 'FontAwesome';
  font-size: 12px;
  color: #DD4B39;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  width: 100%;
  text-align: center;
  
  transition: color 300ms ease-in-out;
  
}

.switch-toggle-progress:after {
  content: '\f110' !important;
  color: #ff8e16 !important;
}

.switch-toggle-on {
  left: calc( 100% - 20px );
}

.switch-toggle-on:after {
  content: '\f00c' !important;
  color: #00A65A !important;
}

.switch-toggle-error:after {
  content: '\f128' !important;
  color: #ff8e16 !important;
}


.switch-container-on {
  background-color: #00A65A;
}

.switch-container-error {
 background-color: #ff8e16;
}

/**
 * toolbar uiHelper
 */

.btn-toolbar > .btn-group > a > .toolbar-label {
  margin-left: 2px;
}

.sysx-toolbar {
  margin-bottom: 5px;
}
/**
 * CUSTOM Bootstrap and Yii2
 */

table > thead > tr > td > input,
table > thead > tr > td > select {
  height: 30px !important;
  padding: 5px 5px;
  border-radius: 2px !important;
}

/**
 * redactor toolbar
 */

.redactor-toolbar {
    z-index: 1 !important;
}

/*
    Gridview Table
---------------------------

 */
.grid-view > .summary{
  padding-bottom: 3px;
  color: grey;
}

.grid-view > .summary > b {
  color: black;
}
.grid-view > .pagination {
  margin-top: 0px;
}
.grid-view > table > thead > tr > th {
  background: #f9f9f9;
  border-bottom: none;
}

/** filters */
.grid-view > table > thead > tr > td {
  background: #f9f9f9;
  border-bottom: none;
  border-top: none;
}

/* Detail View */
.detail-view > tbody > tr > th {
  width: 200px;
}

/* Utility */
/*HELP Block*/
.help-block-error {
  background: #F2DEDE;
  margin-top:0px;
  padding-left: 5px;
  padding-right: 5px;
}
.form-group {
  margin-bottom: 0px !important;
}
.form-group.has-error .form-control {
  border-color: #F2DEDE !important;
  box-shadow: none;
}

.input-group-tooltip {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  /* background-color: #eee; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}
